/* 
azul = #00B3DC 
amarillo = #ffdc00
gris = #333333
*/
	*{
		margin: 0;
	}
	@font-face { font-family: "BebasNeue"; src: url('fuentes/BebasNeue.otf'); }
	@font-face { font-family: "MuseoSans_500"; src: url('fuentes/MuseoSans_500.otf'); }
	@font-face { font-family: "MuseoSans_500_Italic"; src: url('fuentes/MuseoSans_500_Italic.otf'); }
	@font-face { font-family: "MuseoSans_700"; src: url('fuentes/MuseoSans_700.otf'); }
	@font-face { font-family: "MuseoSans_900"; src: url('fuentes/MuseoSans_900.otf'); }
	@font-face { font-family: "MuseoSans-100"; src: url('fuentes/MuseoSans-100.otf'); }
	@font-face { font-family: "MuseoSans-100Italic"; src: url('fuentes/MuseoSans-100Italic.otf'); }
	@font-face { font-family: "MuseoSans-300"; src: url('fuentes/MuseoSans-300.otf'); }
	@font-face { font-family: "MuseoSans-300Italic"; src: url('fuentes/MuseoSans-300Italic.otf'); }
	@font-face { font-family: "MuseoSans-700Italic"; src: url('fuentes/MuseoSans-700Italic.otf'); }
	@font-face { font-family: "MuseoSans-900Italic"; src: url('fuentes/MuseoSans-900Italic.otf'); }

	html,body{
	  font-family: 'BebasNeue', Arial;
	  height:100%;
	  width:100%;
	}
	h4{
		font-family: 'MuseoSans-100', Arial;
		font-weight: lighter;
		font-size: 23px;
	}
	.amarillo{
		color: #ffdc00;
	}
	.azul{
		color:#00B3DC;
	}
	.encabezado{
		background-image: url(imagenes/encabezado_2.png);
		background-attachment:fixed;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover; 
    	-moz-background-size: cover; 
    	-o-background-size: cover; 
    	background-color: rgba(0,0,0,.5);
		width: 100%;
		height: 100%;
			}

	.encabezado-content-logo{
		margin: 1% 5%;
		display: inline-block;
		vertical-align: top;
		
	}

	.encabezado-content-logo img{
		width: 80%;
	}

	.encabezado-content-menu{
		margin: 1% 2%;
		position: absolute;
		display: inline-block;
		vertical-align: top;
		right: 0;
		width: 55%;
		text-align: right;
	}

	.encabezado-content-menu-social{
		margin: 1% 2.3%;
		position: absolute;
		display: inline-block;
		vertical-align: top;
		top:55px;
		right: 0;
		width: 55%;
		text-align: right;
	}

	.encabezado-titulo{
		margin: 1% 4%;
		color: white;
	}
	.encabezado-titulo h1{
		font-size: 65px;
		font-weight: 100;
		line-height: 60px;
	}

	encabezado-texto h2{
		font-size: 20px;
	}

	.encabezado-kassani img{
	    position: absolute;
	    bottom: 0;
	    right: 20px;
	}
	.menu-principal{
		list-style: none;
		padding: 0;
	}

	.menu-principal li{
		background-image: url('imagenes/menu-border_03.png');
		background-position: right;
		background-repeat: no-repeat;
		display: inline-block; /* make the link background clickable */
		padding: 2% 3%;
	}

	.menu-principal li:last-child{
		background-image: none;
	}

	.menu-principal li a{
		color: white;
		text-decoration: none;
		/*font-weight: bold;*/
		font-family: 'MuseoSans_500';
	}

	.menu-principal li a:hover{
		color: #ffdc00;
		border-bottom: 2px dashed #ffdc00;
	}

	.menu-principal .active a{
		color: #ffdc00;
		border-bottom: 2px dashed #ffdc00;
	}


	.menu-principal button{
		background-color: #ffdc00;
		color: black;
		text-decoration: none;
		/*font-weight: bold;*/
		font-family: 'MuseoSans_500';
		font-weight: bold;
		padding: 1% 2% 1% 2%;
		font-size: 15px;
		border-style: solid;
		border-color: #ffdc00;
	}

	.menu-principal button a{
		text-decoration: none;
		border-bottom: 2px dashed black;
	}

	.menu-principal button:hover{
		background-color: Transparent;
	}

	.menu-principal button:hover a{
		color : #ffdc00;
		border-bottom: 2px dashed #ffdc00;
	}

	.btn_menu a{
		color: black;
	}

	.encabezado-content-menu-social span a{
		background-image: url('imagenes/menu-border_03.png');
		background-position: right;
		background-repeat: no-repeat;
		display: inline-block; /* make the link background clickable */
		padding: 2% 3% 2% 0;
	}

	.encabezado-content-menu-social span a:last-child{
		background:none;
	}

	.principal{

	}
	.principal-titulo{
		margin: 0;
	    width: 35%;
	    display: inline-block;
	    vertical-align: top;
	    padding: 3% 0% 3% 3%;
	    background-color: rgb(0,179,220);
	    color: white;
	}

	.principal-titulo h2{
		font-size: 40px;
		font-weight: 100;
		line-height: 120%;
	}

	.principal-texto{
		margin: 0;
	    width: 50%;
	    display: inline-block;
	    vertical-align: top;
	    padding: 3.4%;
	    font-family: 'MuseoSans-300' , Arial;
	    font-weight: lighter;
	    text-align: justify;
	    line-height: 25px;

	}

	.principal-imagen{

		margin: 0;
		background-image: url(imagenes/banner-frase-aula360.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover; 
    	-moz-background-size: cover; 
    	-o-background-size: cover; 
		background-color: grey;
		text-align: center;
		padding: 6%;
	}

	.principal-imagen h2{
		color: white;
		font-size: 50px;
		font-family: 'MuseoSans-100' , Arial;
		font-weight: lighter;
	}

	.principal-apoyan{
		text-align: center;
		padding: 2% 10%;

	}

	.principal-apoyan{
		font-family: 'MuseoSans-100' , Arial;
		font-weight: lighter;
	}

	.principal-apoyan img{
		display: inline-block;
		width: 20%;
		vertical-align: middle;
	}

	.principal-apoyan-img{
		display: inline-block;
		width: 15% !important;
		margin: 2.5%;
		vertical-align: middle;
	}

	.footer{
		background-color: #333333;
	}
	
	.footer-htg{
		display: inline-block;
		width: 64%;
		color: white;
		font-size: 85px;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
	}

	.footer-tw{
		vertical-align: middle;
		display: inline-block;
		width: 30%;
		padding: 2.5%
	}
	.footer-derechos{
		text-align: center;
		color:white;
		padding: 1%;
		border-top: 1px white dashed;
	}

	.footer-htg-movil{
		display: none;
		color: white;
		font-size: 40px;
		font-weight: 100;
		text-align: center;
		/*vertical-align: middle;*/
	}
	.footer-tw-hash{
		font-weight: 100;
	}
	
	#menu{
		display: none;
		position: absolute;
    	right: 4%;
    	top: 5%;
	}

	.menu-movil{
		display: none;
		width: 100%;
	    height: 100%;
	    background-color: #ffdc00;
	    text-align: right;
	    color: white;
	    font-size: 40px;
	    position: absolute;
	    top: 0;
	}

	.menu-movil section{
		margin-right: 5%;
	}

	.menu-movil section a{
		text-decoration: none;
		color: white;
	}

	.ic-twitter-badge{
		display: none !important;
	}
	.timeline-Header{
		display: none !important;
	}
	.timeline-header .customisable-border{
		display: none !important;
	}

	/* conferencistas.html */

	.principal-conferencistas{
		margin-bottom: 2%;
		margin-top: 2%;
	}

	.principal-conferencistas-content{
		margin-bottom: 2%;
	}

	.principal-conferencistas-img{
		width: 21%;
		display: inline-block;
		vertical-align: top;
	}
	
	.principal-conferencistas-img img{
		width: 100%;
	}
	.principal-conferencistas-nombre{
		width: 25%;
		display: inline-block;
		margin: 0.9% 2% 0 0;
		vertical-align: middle;
	}
	.principal-conferencistas-nombre h1{
		font-size: 60px;
		line-height: 62px;
		font-weight: 100;
	}

	.principal-conferencistas-nombre h5{
		font-size: 24px;
		font-family: 'MuseoSans-100' , Arial;
		font-weight: lighter;
	}

	.principal-conferencistas-texto{
		width: 70%;
		display: inline-block;
		text-align: justify;
		font-family: 'MuseoSans-100' , Arial;
		font-weight: lighter;
		vertical-align: middle;

	}

	.principal-conferencistas-texto h5{
		font-size: 18px;
    	font-weight: 100;
	}

	.principal-conferencistas-web{
		display: inline-block;
		width: 76%;
		margin-left: 2%;
		vertical-align: middle;
	}
	
	.borde-azul{
		padding-top: 1%;
		border-top: 2px dashed #00B3DC;
	}
	.principal-conferencistas-img-movil{
		width: 50%;
		display: none;
		vertical-align: middle;
	}

	.principal-conferencistas-img-movil img{
		width: 100%;
	}
	.principal-conferencistas-nombre-movil{
		display: none;
		width: 45%;
		margin: 0.9% 2%;
		vertical-align: middle;
	}

	.principal-conferencistas-nombre-movil h1{
		font-size: 45px;
		line-height: 40px;
		font-weight: 100;
	}

	.principal-conferencistas-nombre-movil h5{
		font-size: 16px;
		font-family: 'MuseoSans-100' , Arial;
		font-weight: lighter;
	}

	.principal-conferencistas-texto-movil{
		display: none;
		width: 92%;
		padding: 4%;
		text-align: justify;
		font-family: 'MuseoSans-100' , Arial;
		font-weight: lighter;
		vertical-align: middle;
	}

	.principal-conferencistas-texto-movil h5{
		font-size: 18px;
    	font-weight: 100;
	}

	/* contacto.html */

	.encabezado-contacto{
		background-image: url(imagenes/banner2-aula360.jpg);
		background-attachment:fixed;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover; 
    	-moz-background-size: cover; 
    	-o-background-size: cover; 
    	background-color: rgba(0,0,0,.5);
		width: 100%;
		height: 100%;
	}

	.contacto-imagen{
		background-image: url(imagenes/contacto-imagen.jpg);
		background-size: cover;
		padding-top: 10%;
		padding-bottom: 10%;
		-webkit-background-size: cover; 
    	-moz-background-size: cover; 
    	-o-background-size: cover;
		display: inline-block;
		width: 49%;
		color:white;
		font-size: 85px;
	}

	.contacto-imagen h1{
		padding:10%;
		font-weight: 100;
		font-size: 80px;
		line-height: 90%;
	}

	.contacto-imagen img{
		width: 100%;
	}

	.contacto-formulario{
		display: inline-block;
		width: 48%;
		padding: 1%;
		vertical-align: top;
	}

	.contacto-formulario form{
		font-family: 'MuseoSans-100',arial;
		font-weight: lighter;
		font-size: 18px;
		color:#00B3DC;

	}

	/*.contacto-formulario input,textarea{
		border: 1px solid;
		color:#00B3DC;
		margin-bottom: 1.5%;
	}*/
	.contacto-formulario input,textarea{
		border: 1px solid;
		color:#00B3DC;
		padding: 1% 0;
    	resize: none;
		margin-bottom: 4%;
	}

	.contacto-formulario h2{
		font-family: 'MuseoSans-100',arial;
		font-weight: bold;
		font-size: 30px;
	}

	.contacto-formulario textarea{
		height: 140px;
	}
	.contacto-formulario-enviar{
		font-family: 'BebasNeue', Arial !important;
		font-size: 25px;
		background-color: #00B3DC;
		color:white !important;
		width: 25% !important;
		font-weight: bold;
	}

	.contacto-formulario *{
		display: block;
		width: 100%;

	}

	/* programa.html */

	.programa-item{
		width: 31%;
		height: 30%;
		display: inline-block;
		text-align: center;
		vertical-align: top;
		padding: 1.1%;
		font-size: 25px;
	}

	.programa-azul{
		background-color: #00B3DC;
		color:white;
	}

	.programa-blanco{
		color:#00B3DC;
	}

	.programa-blanco .programa-item-cont{
		color: black;
	}

	.programa-item-hora{
		font-size:40px !important;
		display: block;
	}

	.programa-item-titulo{
		font-family: 'MuseoSans_700';
		display:block;
		font-weight: bold;
	}

	.programa-item-desc{
		font-family: 'MuseoSans-300';
		display:block;
	}
	.programa-item-cont{
		font-size: 15px;
		text-align: justify;
		font-family: 'MuseoSans-300';
	}

	.programa-item-condicion{
		margin: 4% 0;color:grey;font-family: 'MuseoSans-100';line-height: 195px;
	}

	.programa{
		margin: 3% 5%;
		font-size: 18px;
		font-family: 'MuseoSans-300' , Arial;
		font-size: 18px;
	}

	.programa-reflexion{
		padding:40px 0;
	}

	.programa-reflexion-titulo{
		text-align: center;
		color: #00B3DC;
		margin-bottom: 10px;
		font-size: 1.2em;
	}

	.programa-reflexion-texto{
		text-align: justify;
	}

	.programa-participan{
		padding:40px 0;
		border-top: 2px dashed;
		border-color: #00B3DC;
	}

	.programa-participan-titulo{
		text-align: center;
		color: #00B3DC;
		margin-bottom: 10px;
		font-size: 1.2em;
	}

	.programa-participan-texto{
		text-align: justify;
	}

	.encabezado-reproducir img{
		width: 5%;
	    position: absolute;
	    bottom: 5%;
    	left: 4%;
	}

	@media (min-width:480px) and (max-width:1024px){
		.encabezado-content-menu{
			display: none;
		}
		.encabezado-titulo h1{
			font-size: 40px;
			font-weight: 100;
		}

		.footer-htg{
			display: none;
		}
		.footer-htg-movil{
			padding-top: 3%;
			display: inline-block;
			width: 100%;
		}

		.footer-htg-movil figure img{
			width: 20%;
		}
		.footer-tw{
			text-align: center;
			width: 94%;
		}

		#menu{
			display: block;
		}

		.programa-item {
		    padding: 1%;
		    font-size: 18px;
		}

		.principal-titulo{
			width: 97%;
		}

		.principal-texto{
			width: 93.2%;
		}

		/* conferencistas.html */

		.principal-conferencistas-web{
			display: none;
		}
		.principal-conferencistas-nombre{
			display: none;
		}
		.principal-conferencistas-texto{
			display: none;
		}
		.principal-conferencistas-img{
			display: none;
		}

		.principal-conferencistas-img-movil{
			display: inline-block;
		}
		.principal-conferencistas-nombre-movil{
			display: inline-block;
		}
		.principal-conferencistas-texto-movil{
			display: block;
		}
		.principal-conferencistas-nombre-movil h1 {
		    font-size: 80px;
		    line-height: 62px;
		}

		.principal-conferencistas-nombre-movil h5 {
		    font-size: 26px;
		    font-family: 'MuseoSans-300' , Arial;
		    font-weight: lighter;
		}

		.contacto-imagen h1 {
		    padding: 5%;
		    line-height: 2.3;
		    font-size: 55px !important;
		}
		.borde-azul {
		    padding: 7% 0;
		}

		.footer-htg-movil{
			font-size: 55px;
		}

		.encabezado-content-menu-social{
			margin: 4% 2.4%;
		}
	}

	@media (min-width:320px) and (max-width:479px){
		
		h4{
			font-size: 15px;
		}
		.encabezado-content-menu{
			display: none;
		}

		.encabezado-content-logo img{
			width: 50%;
		}

		.encabezado-titulo h1{
			font-size: 40px;
			font-weight: 100;
			line-height: 100%;
		}

		.principal-titulo{
			width: 97%;
		}

		.principal-texto{
			width: 93.2%;
		}

		.principal-imagen{
			padding: 18% 2%;
		}

		.principal-imagen h2{
			font-size: 30px;
		}
		
		.principal-apoyan img{
			width: 50%;
		}

		.principal-apoyan-img{
			width: 45% !important;

		}
		.footer-htg{
			display: none;
		}
		.footer-htg-movil{
			padding-top: 3%;
			display: inline-block;
			width: 100%;
		}

		.footer-htg-movil figure img{
			width: 20%;
		}
		.footer-tw{
			width: 94%;
		}
		.footer-htg-movil figure figcaption span{
			font-weight: 100;
		}
		.encabezado-kassani img{
		    position: absolute;
		    bottom: 0;
		    right: 20px;
		    width: 30%;
		}
		#menu{
			display: block;
		}

		/* conferencistas.html */

		.principal-conferencistas-web{
			display: none;
		}
		.principal-conferencistas-nombre{
			display: none;
		}
		.principal-conferencistas-texto{
			display: none;
		}
		.principal-conferencistas-img{
			display: none;
		}

		.principal-conferencistas-img-movil{
			display: inline-block;
		}
		.principal-conferencistas-nombre-movil{
			display: inline-block;
		}
		.principal-conferencistas-texto-movil{
			display: block;
		}
		.borde-azul {
		    padding-top: 3%;
		}

		.programa-item{
			width: 95%;
			padding: 2.5%;
			height: 40%;
		}

		.contacto-imagen{
			width: 100%;
		}

		.contacto-imagen h1{
		padding:10%;
		font-weight: 100;
		font-size: 45px;
	}

		.contacto-formulario{
			width: 95%;
			padding: 2.5%;
		}

		.encabezado-reproducir img{
			width: 12%;
		}

		.encabezado-content-menu-social{
			margin: 8% 2.4%;
		}

		.encabezado-content-menu-social span a{
			padding: 2% 9% 2% 0;
		}
		
	}